<footer class="footer">
    <!-- the Header Part -->
    <h1 class="footer-title">TerraVita</h1>
    <q>Travel is the only thing you buy that makes you richer</q>

    <!-- Main content -->
    <div class="footer-main">

        <!-- About Us section -->
        <div class="about">
            <h2>About Us</h2>
            <p>Crafting personalized journeys that transform ordinary trips into extraordinary memories across the globe.</p>
        </div>

        <!-- Links -->
        <div class="quick-links">
            <h2>Quick Links</h2>
            <a href="../index.html">Home</a>
            <a href="../destination.html">Destination</a>
            <a href="../gallery.html">Gallery</a>
            <a href="../Contact.html">Contact</a>
        </div>

        <!-- Social -->
        <div class="social">
            <h2>Follow Us</h2>
            <ul>
                <li>
                    <i class="fa-brands fa-facebook"></i> 
                    <a href="#">Facebook</a>
                </li>
                <li>
                    <i class="fa-brands fa-instagram"></i>
                    <a href="#">Instagram</a>
                </li>
                <li>
                    <i class="fa-brands fa-pinterest"></i>
                    <a href="#">Pinterest</a>
                </li>
                <li>
                    <i class="fa-brands fa-linkedin"></i>
                    <a href="#">LinkedIn</a>
                </li>            
            </ul>  
        </div>

            <!-- Other ways to contact -->
        <div class="other-way">
            <h2>Other Ways to Contact Us:</h2>
            <p>Email: info@terravita.com</p>
            <p>Phone: +212 000-000000</p>
        </div>
    </div>

    <div class="bar"></div>
    <div class="bottom">
        <p>© <span id="year">2024</span> TerraVita. All Rights Reserved</p>
        <p><a href="#">Sign In</a> / <a href="#">Sign Up</a></p>
    </div>

    <!-- Closing -->
    <p class="footer-message">Happy Travels with TerraVita!</p>
</footer>